@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&family=Open+Sans&family=Play:wght@400;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

address {
  font-style: inherit; }

aside, nav, footer, header, main, section {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  min-width: 320px;
  color: #666666;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  background: #ffffff;
  font-size: 100%;
  line-height: 1.2;
  font-size: 1rem;
  font-family: Play, sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: Play, sans-serif; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none;
  color: inherit; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  display: block;
  max-width: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
  margin: 0; }

cite {
  font-style: normal; }

html {
  font-size: 16px; }
  @media (max-width: 480px) {
    html {
      font-size: 14px; } }

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.container {
  max-width: 972px;
  margin: 0 auto;
  width: 100%;
  padding: 0 1rem; }
  @media (max-width: 768px) {
    .container {
      padding: 0 1.5%; } }

.title {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #292929;
  text-align: center; }
  @media (max-width: 480px) {
    .title {
      font-size: 2.28571rem; } }

.title_color_w {
  color: #ffffff; }

.section {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  padding: 5% 0; }

.hero {
  background-color: #f5f5f5;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5rem 0 4.0625rem;
  color: #292929;
  position: relative; }
  .hero:after {
    content: url("../images/decor/Rectangle-45.png");
    position: absolute;
    bottom: 0;
    right: 10%;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%); }

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 1.71875rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: url("../images/hero/hero.png") center right/50% auto no-repeat; }
  @media (max-width: 768px) {
    .hero__container {
      background: none; } }
  @media (max-width: 480px) {
    .hero__container {
      padding: 0 0.71429rem; } }

.hero__title-section {
  max-width: 40%;
  line-height: 1.1; }
  @media (max-width: 768px) {
    .hero__title-section {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      max-width: 95%;
      -ms-flex-item-align: center;
      align-self: center;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .hero__title-section:before {
        content: "";
        background: url("../../images/hero/hero.png") center/contain no-repeat;
        display: block;
        width: 323px;
        height: 323px;
        margin-bottom: 64px; } }
  @media (max-width: 480px) {
    .hero__title-section:before {
      display: block;
      width: 75vw;
      height: 75vw;
      margin-bottom: 49px; } }

.hero__title {
  margin-bottom: 1.375rem;
  text-align: left; }
  @media (max-width: 768px) {
    .hero__title {
      text-align: center;
      padding: 0 5%; } }

.hero__subtitle {
  padding-right: 10%;
  font-size: 1.3125rem;
  margin-bottom: 32px;
  font-family: 'Alegreya Sans', sans-serif;
  line-height: 1.2; }
  @media (max-width: 768px) {
    .hero__subtitle {
      padding: 0 20%;
      text-align: center;
      margin-bottom: 1.4375rem; } }
  @media (max-width: 480px) {
    .hero__subtitle {
      padding: 0 10%;
      font-size: 1.28571rem; } }

@media (max-width: 768px) {
  .hero__icon-section {
    display: none; } }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.header__logo {
  width: 40px;
  height: 40px; }

.header__phone-number.phone-number {
  padding-top: 8px; }
  @media (max-width: 768px) {
    .header__phone-number.phone-number {
      display: none; } }

.menu {
  margin: 0 35px;
  padding-top: 10px; }

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 1.125rem;
  font-family: 'Alegreya Sans', sans-serif; }
  @media (max-width: 768px) {
    .menu__list {
      display: none; } }

.menu__item {
  margin-right: 1.71875rem;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  margin-bottom: 10px; }
  .menu__item:last-child {
    margin-right: 0; }
  .menu__item:hover {
    -webkit-transform: translateY(-0.25rem);
    -ms-transform: translateY(-0.25rem);
    transform: translateY(-0.25rem); }

.menu__link {
  white-space: nowrap; }

.phone-number {
  font-size: 18px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s; }
  .phone-number:hover {
    color: #E01F3D; }
    .phone-number:hover .phone-number__icon {
      fill: #E01F3D; }

.phone-number__icon {
  width: 0.875rem;
  height: 0.875rem;
  display: inline-block;
  fill: #292929;
  margin-right: 0.375rem;
  -webkit-transition: fill .3s;
  -o-transition: fill .3s;
  transition: fill .3s; }

.phone-number__text {
  white-space: nowrap;
  -ms-flex-negative: 0;
  flex-shrink: 0; }

.burger {
  padding-top: 6px;
  display: none;
  width: 26px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (max-width: 768px) {
    .burger {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex; } }

.burger__item {
  height: 4px;
  width: 100%;
  background-color: #292929;
  margin-bottom: 5px;
  border-radius: 2px; }
  .burger__item:last-child {
    margin-bottom: 0; }

.btn {
  display: inline-block;
  padding: 21px 41px;
  text-transform: uppercase;
  font-weight: 700;
  background: #E01F3D;
  border-radius: 100px;
  color: #ffffff;
  -webkit-transition: color 0.3s, background-color 0.3s;
  -o-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s; }
  .btn:visited {
    color: #ffffff; }
  .btn:hover {
    background: #ffffff;
    color: #E01F3D; }
  .btn_color_darkred {
    background-color: #CA1B36; }
    .btn_color_darkred:hover {
      background: #ffffff;
      color: #CA1B36; }
  @media (max-width: 480px) {
    .btn {
      font-size: 19px; } }

.advantage__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.advantage__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 174px; }

.advantage__icon {
  margin-right: 11px;
  width: 41px;
  height: 41px;
  fill: #292929; }

.advantage__content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.why:after {
  content: url("../images/decor/red-triangle.png");
  position: absolute;
  bottom: 0;
  left: 10%;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%); }

.why__title {
  margin-bottom: 17px; }
  @media (max-width: 768px) {
    .why__title {
      margin-bottom: 0.6875rem; } }

.why__subtitle {
  margin-bottom: 3.8125rem;
  text-align: center;
  padding: 0 20%; }
  @media (max-width: 768px) {
    .why__subtitle {
      padding: 0 10%;
      margin-bottom: 3.25rem; } }
  @media (max-width: 480px) {
    .why__subtitle {
      padding: 0 5%;
      font-size: 1.14286rem; } }

.why__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 480px) {
    .why__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.why__item {
  padding: 0 3%;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative; }
  .why__item:before {
    content: url("../images/why/decor.png");
    position: absolute;
    top: 50px;
    right: 0;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%); }
    @media (max-width: 768px) {
      .why__item:before {
        display: none; } }
  .why__item:first-child {
    padding-left: 0; }
  .why__item:last-child {
    padding-right: 0; }
    .why__item:last-child:before {
      display: none; }
  @media (max-width: 768px) {
    .why__item {
      padding: 0 1%; } }
  @media (max-width: 480px) {
    .why__item {
      padding: 0;
      margin-bottom: 38px; }
      .why__item:last-child {
        margin-bottom: 0; } }

.why-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%; }
  @media (max-width: 480px) {
    .why-card {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; } }

.why-card__body {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center; }
  @media (max-width: 480px) {
    .why-card__body {
      text-align: left; } }

.why-card__image {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 24px;
  background: #F2F5F4; }
  @media (max-width: 480px) {
    .why-card__image {
      margin: 0 12px 0 0; } }

.why-card__icon {
  width: 68px;
  height: 68px;
  fill: #292929; }

.why-card__title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 0.4375rem;
  color: #292929; }

.shop {
  padding: 66px 61px 124px;
  background-color: #F8FAF9; }

.shop-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.shop-card__body {
  margin-left: 3.75rem; }

.shop-card__parameter-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 91px;
  height: 91px;
  background-color: #9a9a9a;
  border-radius: 4px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 1.5625rem; }

.shop-card__icon {
  width: 42px;
  height: 42px; }

.shop-card__title {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #292929;
  max-width: 28.125rem;
  margin-bottom: 1.5rem; }

.shop-card__text {
  margin-bottom: 1.6875rem; }

.shop-card__parameter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.5rem; }

.shop-card__parameter-item {
  margin-right: 5.375rem; }
  .shop-card__parameter-item:last-child {
    margin-right: 0; }

.shop-card__prop-value {
  font-size: 1.125rem;
  font-weight: 700;
  color: #292929; }

.shop-card__buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.shop-card__price {
  font-size: 2.25rem;
  color: #292929;
  margin-right: 0.8125rem; }

.team {
  padding: 73px 0 51px; }

.team__title {
  margin-bottom: 3.3125rem; }

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -rem(20px); }

.team__item {
  width: 25%; }

.team-card {
  padding: 0 1.25rem; }

.team-card__photo {
  margin-bottom: 1.5625rem; }

.shop-card__name {
  font-size: 18px;
  font-weight: 700;
  color: #292929;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .shop-card__name:after {
    content: "";
    display: inline-block;
    width: 0;
    border: 6px solid transparent;
    border-top: 9px solid #E01F3D;
    border-bottom: none;
    margin-left: 0.3125rem; }

.colors {
  min-height: 650px; }

.reviews:after {
  content: url("../images/decor/circle.png");
  position: absolute;
  bottom: 0;
  left: 10%;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%); }

.reviews__display {
  margin-bottom: 15px;
  overflow: hidden;
  position: relative; }
  .reviews__display:before {
    content: "";
    display: block;
    width: 83px;
    height: 83px;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: -61px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
    @media (max-width: 480px) {
      .reviews__display:before {
        display: none; } }
  @media (max-width: 768px) {
    .reviews__display {
      margin-bottom: 2rem; } }
  @media (max-width: 480px) {
    .reviews__display {
      margin-bottom: 2.85714rem; } }

.reviews__title {
  margin-bottom: 2rem; }

.reviews__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.reviews__switcher-item {
  margin-right: 0.375rem;
  width: 74px;
  height: 74px;
  border: 4px solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  -webkit-transition: border-color 0.3s;
  -o-transition: border-color 0.3s;
  transition: border-color 0.3s; }
  .reviews__switcher-item.active, .reviews__switcher-item:hover {
    border-color: #E01F3D; }
  .reviews__switcher-item:last-child {
    margin-right: 0; }
  @media (max-width: 480px) {
    .reviews__switcher-item {
      width: 64px;
      height: 64px; } }

.reviews__switcher-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block; }

.reviews__link-image {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover; }

.review-card {
  padding: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F8FAF9;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (max-width: 768px) {
    .review-card {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      text-align: center;
      padding: 3.5rem 1.5rem 2.8125rem;
      width: 95%;
      margin: 0 auto; } }

.review-card__avatar {
  margin-right: 40px;
  overflow: hidden;
  width: 253px;
  height: 264px; }
  .review-card__avatar img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }
  @media (max-width: 768px) {
    .review-card__avatar {
      margin: 0 0 2rem 0;
      width: 130px;
      height: 130px; } }

.review-card__content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.review-card__title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 27px;
  color: #292929; }
  @media (max-width: 768px) {
    .review-card__title {
      margin-bottom: 1rem; } }

.review-card__text {
  margin-bottom: 38px;
  padding-right: 15%; }
  @media (max-width: 768px) {
    .review-card__text {
      padding-right: 0;
      margin-bottom: 1rem; } }
  @media (max-width: 480px) {
    .review-card__text {
      font-size: 1.14286rem;
      margin-bottom: 0.85714rem; } }

.review-card__author {
  font-weight: 700;
  font-size: 18px;
  color: #292929; }

.delivery-section {
  background: url("../images/form/form.jpg") center bottom/cover no-repeat;
  background-color: #181818;
  color: #ffffff;
  padding: 3% 0; }

.delivery__title {
  margin-bottom: 3.4375rem; }
  @media (max-width: 768px) {
    .delivery__title {
      margin-bottom: 1.75rem; } }
  @media (max-width: 480px) {
    .delivery__title {
      margin-bottom: 2.78571rem; } }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 768px) {
    .form {
      padding: 0 19%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  @media (max-width: 480px) {
    .form {
      padding: 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.form__big-col {
  width: 50%;
  margin-right: 1.6875rem; }
  .form__big-col:last-child {
    margin-right: 0; }
  @media (max-width: 768px) {
    .form__big-col {
      width: 100%;
      margin: 0 0 0.1875rem 0; } }

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.form__col {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-bottom: 14px; }

.form__col + .form__col {
  margin-left: 1.0625rem; }

.form__input-name {
  font-size: 16px;
  margin-bottom: 0.375rem; }

.form__input {
  display: block;
  font-size: 14px;
  color: #000;
  width: 100%;
  height: 58px;
  padding-left: 0.75rem;
  border-radius: 4px;
  border: 3px solid transparent;
  font-family: "open sans", serif; }
  @media (max-width: 768px) {
    .form__input {
      height: 36px; } }
  .form__input:focus {
    border-color: #E01F3D; }
  .form__input_center {
    padding-left: 0;
    text-align: center; }
  .form__input_textarea {
    height: 152px;
    padding-top: 0.9375rem;
    margin-bottom: 1.6875rem;
    resize: none; }
    @media (max-width: 768px) {
      .form__input_textarea {
        height: 82px;
        margin-bottom: 0.75rem; } }

.form__controls {
  margin-bottom: 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media (max-width: 768px) {
    .form__controls {
      margin-bottom: 1.25rem; } }
  @media (max-width: 480px) {
    .form__controls {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

@media (max-width: 768px) {
  .form__row .form__btn {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto; } }

.form__btn-reset {
  background-color: transparent;
  text-transform: none;
  font-weight: 400;
  color: #CA1B36;
  padding: 0 15px;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s; }
  .form__btn-reset:hover {
    color: #ffffff;
    background-color: transparent; }

.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.controls__label {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 0.9375rem 1.125rem 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .controls__label_checkbox .controls__input:checked ~ .controls__elem:before {
    display: none; }
  .controls__label_checkbox .controls__elem {
    border-radius: 4px; }

.controls__input {
  display: none; }
  .controls__input:checked ~ .controls__elem:before, .controls__input:checked ~ .controls__elem .controls__icon {
    display: block; }

.controls__elem {
  width: 26px;
  height: 26px;
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  margin-right: 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .controls__elem:before {
    content: "";
    display: none;
    position: absolute;
    width: 13px;
    height: 13px;
    background-color: #E01F3D;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 4; }

.controls__icon {
  display: none;
  position: absolute;
  width: 10px;
  height: 8px; }

.fixed-menu {
  position: fixed;
  top: 30%;
  right: 3%; }

.fixed-menu__item {
  margin-bottom: 10px; }
  .fixed-menu__item_active .fixed-menu__link {
    border-color: #E01F3D; }
    .fixed-menu__item_active .fixed-menu__link:before {
      background-color: #E01F3D;
      opacity: 1; }

.fixed-menu__link {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid transparent;
  display: block;
  position: relative; }
  @media (max-width: 768px) {
    .fixed-menu__link {
      display: none; } }
  .fixed-menu__link:before {
    content: "";
    display: block;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #292929;
    opacity: 0.6;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 100; }

.map {
  padding: 0;
  height: 100vh;
  min-height: 650px;
  position: relative;
  background: url("../images/map.jpg") center center/cover no-repeat; }

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.socials__item {
  margin-right: 10px; }
  @media (max-width: 480px) {
    .socials__item {
      margin-right: 14px; } }

.socials__item:last-child {
  margin-right: 0; }

.socials__link:hover .socials__icon {
  fill: #000; }

.socials__icon {
  width: 30px;
  height: 30px;
  fill: #b3b3b3;
  -webkit-transition: fill .3s;
  -o-transition: fill .3s;
  transition: fill .3s; }
  @media (max-width: 480px) {
    .socials__icon {
      width: 24px;
      height: 24px; } }

.footer {
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto; }

.footer__container {
  max-width: 1100px;
  padding: 20px 56px 20px 84px; }
  @media (max-width: 768px) {
    .footer__container {
      padding: 30px 36px 30px 30px; } }
  @media (max-width: 480px) {
    .footer__container {
      padding: 20px 30px 30px; } }

.footer-body {
  font-size: 18px;
  line-height: 1.5;
  color: #292929;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (max-width: 768px) {
    .footer-body {
      font-size: 21px; } }
  @media (max-width: 480px) {
    .footer-body {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      font-size: 18px;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media (max-width: 480px) {
    .footer__contacts {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-bottom: 19px; } }

@media (max-width: 480px) {
  .footer__address {
    margin-bottom: 12px;
    text-align: center; } }

@media (max-width: 480px) {
  .footer__phone-number {
    font-size: 16px; } }
