.colors-section{
	background: url('./images/colors/woman.jpg') center center / cover no-repeat;
	justify-content: flex-start;
	padding: 0;
	width: 100%;
	overflow: hidden;
	position: relative;
	
}

.colors{
	display: flex;
	height: 100%;
	justify-content: space-between;
}

.colors__title{
	text-align: left;
	padding-top: 8%;
	padding-left: 8%;
	flex: 1 0 30%;

	@include tab{
		padding-top: 7%;
		padding-left: 6%;
	}
}