.controls{
	display: flex;
	flex-wrap: wrap;
}

.controls__label{
	cursor: pointer;
	display: flex;
	align-items: center;
	margin: 0 rem(15px) rem(18px) 0;
	user-select: none;
	&_checkbox {
		.controls__input:checked ~ .controls__elem{
			&:before{
				display: none;;
			}
		}
		.controls__elem{
			border-radius: 4px;
		}
	}
}

.controls__input{
	display: none;

	&:checked ~ .controls__elem{
		&:before, .controls__icon{
			display: block;
		}
	}
}

.controls__elem{
	width: 26px;
	height: 26px;
	position: relative;
	background-color: $white;
	border-radius: 50%;
	margin-right: rem(10px);
	display: flex;
	justify-content: center;
	align-items: center;

	&:before {
		content: "";
		display: none;
		position: absolute;
		width: 13px;
		height: 13px;
		background-color: $red;
		border-radius: 50%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 4;
	}
}

.controls__icon{
	display: none;
	position: absolute;
	width: 10px;
	height: 8px;
	fill: $red;
}