.overlay{
	position: absolute;
	z-index: $z-overlay;
	height: 100%;
	width: 0%;
	background: #333537;
	top: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: width .4s;

	&.active{
		width: 100%;
	}
}
