.fixed-menu{
	position: fixed;
	top: 30%;
	right: 3%;
}

.fixed-menu__item{
	&_active{
		.fixed-menu__link{
			border-color: $red;
			&:before{
				background-color: $red;
				opacity: 1;
			}
		}
	}
	margin-bottom: 10px;
}

.fixed-menu__link{
	width: 18px;
	height: 18px;
	border-radius: 50%;
	border: 1px solid transparent;
	display: block;
	position: relative;

	@include tab {
		display: none;
	}

	&:before{
		content: "";
		display: block;
		width: 9px;
		height: 9px;
		border-radius: 50%;
		background-color: $black;
		opacity: 0.6;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: $z-fixed;
	}
}