.overlay{
	position: absolute;
	z-index: $z-overlay;
	height: 100%;
	width: 100%;
	background: #333537;
	top: 0;
	right: -200vw;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: right .4s;

	&.active{
		right: 0;
	}
}
