.shop-section{
	background-color: #F8FAF9;
}

.shop-section__container{
	max-width:$container+48px;
}

.shop{
	display: flex;
	align-items: center;

	&:after{
		content: url('./images/decor/square.png');
		position: absolute;
		bottom: 0;
		right: 10%;
		transform: translateY(50%);
		z-index: 10;
	}
}

.shop__list{
	flex: 1;
	margin: 0 10px;
	display: flex;
	overflow: hidden;
}

.shop__item{
	flex: 1 0 auto;
	width: 100%;
}

