.socials {
	display: flex;
}

.socials__item {
	margin-right: 10px;

	@include mob {
		margin-right: 14px;
	}
}

.socials__item:last-child{
	margin-right: 0;
}

.socials__link {
	&:hover{
		.socials__icon{
			fill: #000;
		}
	}
}

.socials__icon{
	width: 30px;
	height: 30px;
	fill: #b3b3b3;
	transition: fill .3s;

	@include mob {
		width: 24px;
		height: 24px;
	}
}
