.title{
	font-size: rem(48px);
	font-weight: 700;
	text-transform: uppercase;
	color: $black;
	text-align: center;
	@include mob {
		font-size: remmob(32px);
	}
}

.title_color_w{
	color: $white;
}