.why{
	&:after{
		content: url('./images/decor/red-triangle.png');
		position: absolute;
		bottom: 0;
		left: 10%;
		transform: translateY(50%);
		z-index: 10;
	}
}

.why__title{
	margin-bottom: 17px;

	@include tab {
		margin-bottom: rem(11px);
	}
}

.why__subtitle{
	margin-bottom: rem(61px);
	text-align: center;
	padding: 0 20%;
	@include tab {
		padding: 0 10%;
		margin-bottom: rem(52px);
	}
	@include mob {
		padding: 0 5%;
		font-size: remmob(16px);
	}
}

.why__list{
	display: flex;
	@include mob {
		flex-direction: column;
	}
}

.why__item{
	padding: 0 3%;
	flex: 1;
	position: relative;

	&:before{
		content: url('./images/why/decor.png');
		position: absolute;
		top: 50px;
		right: 0;
		transform: translateX(50%);
		@include tab {
			display: none;
		}
	}

	&:first-child{
		padding-left: 0;
	}

	&:last-child{
		padding-right: 0;
		&:before{
			display: none;
		}
	}

	@include tab {
		padding: 0 1%;
	}

	@include mob {
		padding: 0;
		margin-bottom: 38px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}