.advantage__list{
	display: flex;
	align-items: center;
}

.advantage__item{
	display: flex;
	align-items: center;
	max-width: 174px;
}

.advantage__icon{
	margin-right: 11px;
	width: 41px;
	height: 41px;
	fill: $black;
}

.advantage__content{
	flex: 1;
}
