.burger{
	padding-top: 6px;
	display: none;
	width: 26px;
	flex-direction: column;
	justify-content: center;
	justify-content: space-between;

	@include tab {
		display: inline-flex;
	}
}

.burger__item{
	height: 4px;
	width: 100%;
	background-color: $black;
	margin-bottom: 5px;
	border-radius: 2px;
	&:last-child{
		margin-bottom: 0;
	}
}