.delivery-section{
	background: url('../images/form/form.jpg') center bottom / cover no-repeat;
	background-color: #181818;
	color: $white;
	padding: 3% 0;
}

.delivery__title{
	margin-bottom: rem(55px);

	@include tab{
		margin-bottom: rem(28px);
	}
	@include mob{
		margin-bottom: remmob(39px);
	}
}